html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #272343;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz {
    background: #e3f6f5;
    width: 30rem;
    padding: 4rem;
    text-align: center;
    border-radius: 2%;
    border-width: 3px;
    border-style: solid;
    border-color: #e3f6f5;

}

h1 {
    color: #57636e;
    font-size: 3rem;
    text-align: center;
    padding: 2px 0;
    font-family: 'Roboto', sans-serif;
}

#question {
    font-size: 1.7rem;
    color: #5a6772;
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color: #34a3a3;
    color: white;
    width: 250px;
    font-size: 20px;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 5px 20px 5px 0px;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    
}

.button:hover {
    cursor: pointer;
    background: #57636e;
}

#progress {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

 a {
    color: #57636e;
    font-size: 2rem;
    text-align: center;
    padding: 2px 0;
    font-family: 'Roboto', sans-serif;
}